html {
  font-family: "IBM Plex Sans", sans-serif;
}

.header {
  background-color: #ddd;
}

.mid {
  background-color: #efefef;
}

.logo {
  max-width: 200px;
}

ul {
  background-color: #fff;
}

.table-wrapper {
  min-width: 45em;
}

.table {
  background-color: #fff;
}
